/* styles.css */
body {
    background-color: #000;
    color: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh; /* Make sure the body takes up the full viewport height */
    margin: 0; /* Remove default margin */
}

.logout button {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: x-large;
    background: #000;
}
.logout button:hover{
    text-decoration: underline;
    scale: 125%;
}

.main{
    margin-top: -100px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p{
    font-size: x-large;
}

.roleName{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
}
.roleName span {
    font-size: medium;
    font-weight: 700;
}
.roleName p{
    font-size: medium;
}

.chessBoard {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    width: 400px;
    height: 400px;
    transform: rotate(0deg);
}

.piece.white {
    color: white;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
}
.piece.black {
    color: black;
}

.flipped {
    transform: rotate(180deg);
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square.light {
    background-color: #f0d9b5;
}
.square.dark {
    background-color: #b58863;
}

.piece {
    font-size: 36px;
    cursor: pointer;
}

.piece.draggable {
    cursor: grab;
}

.dragging {
    opacity: 0.5;
}

.flipped .piece {
    transform: rotate(180deg);
}
